SetEnv PHP_VER 5_3
SetEnv REGISTER_GLOBALS 0

Options -Indexes

# https://stackoverflow.com/questions/13977851/htaccess-redirect-to-https-www
RewriteEngine On
# This will enable the Rewrite capabilities
RewriteCond %{HTTPS} !=on
# This checks to make sure the connection is not already HTTPS
RewriteRule ^/?(.*) https://xcit.org/$1 [R,L]
# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
# The leading slash is made optional so that this will work either in httpd.conf
# or .htaccess context

# Fixes a weird OVH redirect problem where /www/ is appended to the https-redirected URL
#Redirect /www/ /
ErrorDocument 404 https://xcit.org